/* @import "react-slideshow-image/dist/styles.css"; */

.your-app {
    .rsis-container {
        background-size: contain !important;
    }
  }
  
  .your-app {
    .rsis-image {
      background-size: contain !important;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .err-redirection:hover{
    color: teal;
    
  }
